.btn-theme {
  background: #4478FF;
  border-radius: 8px;
  padding: 20px 32px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  color: #E9EFFF;
  transition: $transition;
  display: inline-block;
  @media (min-width: 768px) and (max-width: 991.98px) {
   padding: 13px;
   border-radius: 4px;
  }
  @media (max-width: 575.98px) {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  &.btn-theme-outline {
    background: #E9EFFF;
    color: #0A090D;
    &:hover {
    transform: translateX(3px);
    color: #0A090D;
  }
  }
  &:hover {
    transform: translateX(3px);
    color: #E9EFFF;
  }
}
