.page-title {
  background-color: $bg-light-black;

  .card {
    height: 460px;
    justify-content: center;
    border: 0;
    h1 {
      margin: 0;
      background: linear-gradient(
        269.41deg,
        #cf9603 40%,
        #eedc9b 49.45%,
        #cf9603 60%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      text-shadow: 2px 5px 2px #00000033;
    }
  }
}
