.partnerTable {
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #0A090D;
    @media(max-width: 575.98px) {
        width: 150%;
    }

    @media(max-width: 767.98px) {
        .depositMethods table {
            width: 120%
        }
    }

    @media(max-width: 575.98px) {
        .depositMethods table {
            width: 150%
        }
    }

    thead {
        tr {
            th {
                padding: 3.3rem 0;
                font-size: 24px;
                font-weight: 500;
                line-height: 30px;
                color: #fff;
                border: 0;
            }
        }
    }

    tbody {


        tr {
            td {
                padding: 3.3rem 0;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                border-color: #0A090D;

                &:first-child {
                    color: #4478FF;
                }
            }
        }
    }
}