.stepper {
  background: #1d1d20;
  @media (max-width: 575.98px) {
    padding-bottom: 0;
  }
  img {
    margin-bottom: 22px;
  }

  h3 {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 27px;
    @media(max-width: 991.98px) {
        font-size: 19px;
    }
  }
}
