.transaction {
  margin-top: 170px;
  @media (max-width: 991.98px) {
    margin-top: 70px;
  }
  .title {
    @media (max-width: 991.98px) {
      margin-bottom: 90px;
    }
    h2 {
      font-size: 48px;
    }
  }
  .card {
    border: 1px solid #686666;
    border-radius: 0;
    backdrop-filter: blur(120px);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) -1.52%,
      rgba(255, 255, 255, 0.024) 104.35%
    );
    padding: 42px 50px 50px 50px;
    text-align: center;
    margin-bottom: 80px;
    @media (max-width: 991.98px) {
      margin-bottom: 40px;
    }
    .card-image {
      height: 130px;
      img {
      }
    }
    .card-details {
      ul {
        li {
          display: flex;
          flex-direction: column;
          margin-bottom: 17px;
          span {
            line-height: 27px;
            color: $white;
            &:first-child {
              color: rgba(255, 255, 255, 0.502972);
            }
          }
        }
      }
    }
  }
}
